@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

.home-bg {
    width: wsm(1224);
    height: wsm(1224);
    position: absolute;
    top: wsm(-368);
    right: wsm(-404);
}

.home {
    padding-bottom: wsm(185);
    min-height: 568px;
    // .home__wrapper {
    //     width: wsm(1200);
    // }

    &__wrapper {
        padding-top: wsm(207);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .home-modile {
            display: none;
            position: absolute;
            width: 72vw;
            height: 59vw;
            z-index: -1;
            top: 0vw;
            right: -27vw;
        }

        .home-title {
            text-align: left;
            font-size: wsm(52);
            margin-bottom: wsm(63);
        }
    }

    &__select {
        width: wsm(715);
        display: flex;
        flex-wrap: wrap;

        .form-group {
            margin-right: 13px;
            margin-bottom: 15px !important;
            &:last-child {
                margin-right: 0;
            }
        }

        .home-select1 {
            width: 204px;
        }

        .home-select2 {
            width: 109px;

            input {
                &::placeholder {
                    color: #515770;
                }
            }
        }

        .home-select3 {
            width: 228px;
        }

    }

    &__search {
        padding: 0;
        padding-right: 7px;
        color: #fff;
        font-weight: 600;
        width: 134px;
        height: 50px;

        img {
            margin-right: 10px;
        }
    }

    &__text {
        margin-top: wsm(65);
        width: wsm(700);
        line-height: 30px;
        letter-spacing: 0.008em;

        br {
            display: none;
        }
    }
}