.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;	
}

.icon-svg-arrow-down {
	font-size:(11/10)*1rem;
	width:(15/11)*1em;
}
.icon-svg-corrected {
	font-size:(17.6/10)*1rem;
	width:(17.9/17.6)*1em;
}
.icon-svg-star {
	font-size:(23/10)*1rem;
	width:(24/23)*1em;
}
