@media screen and (max-width: 1500px) {
    .home {
        &-bg {
            height: 67vw;
            width: 67vw;
            top: -12vw;
        }
    }
}


@media #{$lg} {
    .home {
        margin-bottom: 2vw;
        padding-bottom: 150px;
        &-bg {
            top: -9vw;
            right: -19.04167vw;
        }

        &__wrapper {
            padding-top: 5vw;
            padding-left: 50px;

            .home-title {
                font-size: 3vw;

            }
        }

        &__select {
            width: 45vw;
            z-index: 2;
        }

        &__text {
            width: 45vw;
        }

    }
}


@media screen and (max-width: 1000px) {
    .home {
        &-bg {
            height: 70vw;
            top: -6vw;
            width: 69vw;
        }

        &__select {
            width: 45vw;
        }

        &__text {
            width: 46vw;
        }
    }
}

@media #{$md} {
    .home {
        min-height: 370px;
        margin-bottom: 28px;

        &-bg {
            display: none;
        }

        &__wrapper {
            padding: 25px 15px 10px 15px;
            position: relative;

            .home-modile {
                display: block;
            }

            .home-title {
                text-align: left;
                margin: 0;
                font-size: 27px;
            }
        }

        &__select {
            padding-top: 35px;
            width: 300px;
            justify-content: center;


            .form-group {
                margin: 0;
                margin-bottom: 15px;
                margin-right: 10px;
            }

            .home-select1 {
                width: 218px;
            }

            .home-select3 {
                width: 171px;
            }
        }

        &__search {
            width: 114px;
            height: 40px;
            padding-right: 3px;
            padding-bottom: 4px;
            margin-top: 25px;



            span {
                font-size: 14px;
            }

            img {
                width: 15px;
                height: 15px;
                margin-right: 2px;
            }
        }

        &__text {
            width: 50%;
            margin-top: 30px;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.02em;

            br {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .home {
        &__wrapper {
            padding-top: 0;
        }

        &__select {
            padding-top: 45px;

            .form-group {
                margin-bottom: 25px;
            }
        }

        &__text {
            width: 100%;
            margin-top: 80px;
        }
    }
}

@media #{$xs} {
    .home {
        padding-bottom: 50px;
        &-bg {
            display: none;
        }

        &__wrapper {
            padding-top: 18px;

            .home-title {
                padding: 0 30px;
                text-align: center;
            }

            .home-modile {
                width: 488px;
                height: 377px;
                top: 26.7%;
                left: 2%;
            }
        }

        &__select {
            padding-top: 26px;
            width: 290px;
            margin: 0 auto;

            .form-group {
                margin: 0;
                margin-bottom: 10px;
            }

            .home-select1 {
                margin-right: 0;
            }

            .home-select2 {
                margin-bottom: 10px;
                margin-right: auto;
            }

            .home-select3 {}

        }

        &__search {
            margin-top: 18px;

        }

        &__text {
            width: 100%;
            margin-top: 324px;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.02em;

        }
    }
}